body{
    font-size: 1.2em;
    background: #1c1c1c;
    color: white;
    text-align: center;
}

div.center{
    text-align: center;
}

#todoContainer{
    display : inline-block;
    width: max-content;
    text-align: left;
}

input[type=text]{
    color: white;
    background: inherit;
    border: none;
    width: 97%;
    height: 4vh;
}

input[type=text]:focus{
    outline: none;
}

#inputTd{
    text-align: center;
    width: 40vw;
}

#labelTd{
    width: 5vw;
    text-align: center;
}

input[type=checkbox].todo{
    accent-color: grey;
}

.checked{
    color: grey;
    text-decoration-line: line-through;
}
table{
    border-collapse: collapse;
}
tr{
    border: 1px solid grey;
    height: 6vh;
}

.tdCheck{
    text-align: center;
}

button{
    background: inherit;
    color: inherit;
    border: none;
    font-size: 0.7em;
}

button, input:not(input[type=text]){
    cursor : pointer;
}

tbody#done, tbody#todo{
    font-size: 0.7em;
}

#addButton{
    color: deepskyblue;
}